<h4>Parcel Name: <%= @parcel.name %></h4>
<h4>Parcel Width: <%= @parcel.width %></h4>
<h4>Parcel Height: <%= @parcel.height %></h4>
<h4>Parcel Weight: <%= @parcel.weight %></h4>

<p><a href="/parcels/<%= @parcel.id %>/edit">Edit parcel</a></p>
<a href="/parcels">Return to parcel list</a>
